body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* $base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2; */
table{
  width: 100%;
  text-align: center;
  /* display: block; */
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* width: auto; */
  /* border: 1px solid #EEEEEE; */
}

th {
  background-color: #3dcd58;
  color: white;
  font-weight: normal;
  padding: 20px 30px;
  text-align: center;
}
td {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  /* padding: 20px 30px; */
  font-weight: normal;
}
td input{
  font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
     margin: 10px ;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid ;
    transition: all 0.3s;
}
.active{
  /* color: red !important; */
  background-color: #3e8e41 !important;
}
.table-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow: auto;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border: 1px solid #ccc;
}

.scrollable {
  overflow-y: scroll;
}
